# 欄位的資料類型介紹及處理（數值或連續）
在機器學習中使用的資料會以數字類型為主 <br>
如遇到字串類型的資料(國家名稱、水果種類、日期一~五) <br>
則需要進行資料的轉換處理 <br>
常用的資料編碼處理有 Label encoding 、One Hot encoding <br>
在處理具有優先順序、排序、大小的字串資料轉換時可採用 Label encoding 反之則為 One Hot encoding  <br>
其中具有優先順序、排序、大小的字串資料如尺寸大小 XL、X、M、L... <br>
必須觀察要進行訓練的資料來決定採用的資料編碼類型

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path, 並讀取 app_train
dir_data = './data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [3]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

欄位數量變化: <br>
原始 WEEKDAY_APPR_PROCESS_START 欄位不同類別的資料共有 7 筆 <br>
經過 One Hot encoding 編碼處理後 欄位數量也將變為 7 欄 <br>
其欄位名稱也依照原始資料中的類別命名 <br> 
WEEKDAY_APPR_PROCESS_START_類別1 、 WEEKDAY_APPR_PROCESS_START_類別2 、 ....

In [17]:
sub_train = pd.get_dummies(sub_train)
print(sub_train.shape)
sub_train.head()

(307511, 7)

,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0